@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  body {
    @apply bg-primary-first text-primary-third;
  }
}

/* Components */
@layer components {
  .btn-primary {
    @apply bg-primary-second hover:bg-primary-first text-primary-third font-medium py-2 px-4 rounded-lg transition-colors;
  }

  .btn-secondary {
    @apply bg-primary-first hover:bg-primary-second text-primary-third font-medium py-2 px-4 rounded-lg transition-colors;
  }

  .input-field {
    @apply w-full px-4 py-2 border border-primary-accent rounded-lg 
    focus:ring-2 focus:ring-primary-third focus:border-transparent 
    outline-none bg-primary-second text-primary-third placeholder-primary-accent;
  }

  .card {
    @apply bg-primary-second rounded-xl shadow-sm border border-primary-accent p-6 text-primary-third;
  }
}
